.form {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.field {
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    width: 20%;
    padding: 1%;
    margin-top: 10px;
}

.btu {
    width: 10%;
    padding: 1%;
    margin-top: 10px;
    background-color: blue;
    border: none;
    color: white;
}

h2 {
    margin-left: 10px;
}